//********************* GOOGLE FONTS ********************//
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//********************** VARIABLES **********************//
//*** Primary
$v-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: rgb(170, 92, 219);

//*** Neutral
$white: hsl(0, 0%, 100%);
$main-para: hsla(0, 0%, 100%, 0.75);
$stat-heading: hsla(0, 0%, 100%, 0.6);

//*********************** GLOBAL ***********************//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: auto;

  background-color: $v-dark-blue;
}

//********************** ARTICLE **********************//
.article {
  margin: 4rem 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: $dark-desaturated-blue;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

  &__img {
    background-color: $soft-violet;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      mix-blend-mode: multiply;
    }
  }

  &__description {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__copy {
    max-width: 420px;
  }
  
  &__title {
    margin-bottom: 1rem;
    line-height: 1.4;
    color: $white;
  }
  
  &__highlighted {
    color: $soft-violet;
  }
  
  &__subtitle {
    margin-bottom: 1.5rem;
    font-size: 13px;
    line-height: 1.6;
    color: $main-para;
  }

  &__stats {
    max-width: 420px;
  }

  &__stat:not(:last-child) {
    margin-bottom: 1.3rem;
  }

  &__stat-number {
    font-size: 1rem;
    color: $white;
  }
  
  &__stat-category {
    font-weight: normal;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    margin-top: 0.4rem;
    text-transform: uppercase;
    color: $stat-heading;
  }
}

//******************* MEDIA QUERIES ******************//
@media screen and (min-width: 294px) {
  .article {
    &__description {
      padding: 2rem 1.8rem;
    }

    &__title {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }

    &__subtitle {
      font-size: 15px;
      margin-bottom: 2.5rem;
    }

    &__stat:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__stat-category {
      font-size: 0.65rem;
    }
  }
}

@media screen and (min-width: 378px) {
  .article {
    &__stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    &__stat:not(:last-child) {
        margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 470px) {
  .article {
    margin: 4rem 2rem;
    max-width: 440px;
    
    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      margin-bottom: 3.5rem;
    }

    &__stat-category {
      font-size: 0.7rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .article {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__img {
      order: 1;
    }

    &__description {
      text-align: left;
      padding: 3rem;
      align-items: flex-start;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      margin-bottom: 3.5rem;
    }

    &__stats {
      gap: 2.5rem;
    }
  }
}
